doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover')
    meta(name='description', content='')
    meta(name='author', content='')
    title=`${webconf.site_name} - Login`
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="pple-mobile-web-app-title" content="Sequenzia")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    link(rel='apple-touch-icon' sizes='180x180' href='/static/img/icons/android/android-launchericon-192-192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/static/img/icons/firefox/firefox-general-32-32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/static/img/icons/chrome/firefox-general-16-16.png')
    link(href='/static/img/splash/apple/iphone5_splash.png' media='screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphone5_splash_landscape.png' media='screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphone6_splash.png' media='screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphone6_splash_landscape.png' media='screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphoneplus_splash.png' media='screen and (device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphoneplus_splash_landscape.png' media='screen and (device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphonex_splash.png' media='screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphonex_splash_landscape.png' media='screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphonexr_splash.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphonexr_splash_landscape.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphonexsmax_splash.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphonexsmax_splash_landscape.png' media='screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphone11pro_splash.png' media='screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphone11pro_splash_landscape.png' media='screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphone11promax_splash.png' media='screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/iphone11promax_splash_landscape.png' media='screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/ipad_splash.png' media='screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/ipad_splash_landscape.png' media='screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/ipadpro1_splash.png' media='screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/ipadpro1_splash_landscape.png' media='screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/ipadpro3_splash.png' media='screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/ipadpro3_splash_landscape.png' media='screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/ipadpro2_splash.png' media='screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)' rel='apple-touch-startup-image')
    link(href='/static/img/splash/apple/ipadpro2_splash_landscape.png' media='screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)' rel='apple-touch-startup-image')

    link(rel='manifest' href='/static/manifest.json')
    // Custom styles for this template
    link(rel='stylesheet', href="/static/vendor/fontawesome/css/all.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i")
    link(rel="stylesheet", href="/css/custom.min.css")
    link(href='/static/css/sb-admin-2.min.css', rel='stylesheet')
    link(rel="stylesheet", href="/css/custom.min.css")
    style.
        .background-image {
            background-image: url('/static/img/bg-default.png');
            transform: none;
        }

body
    div.background-image

    div(style="padding-top: 6em;")
        div.text-center
        .container
            // Outer Row
            .row.justify-content-center
                .col-xl-5.col-lg-6.col-md-8
                    .card.o-hidden.border-0.shadow-lg.my-5
                        .card-body-login.p-0
                            // Nested Row within Card Body
                            .row
                                .col
                                    .p-5
                                        img(src='/static/img/sequenzia-logo-white.png' style='width: 40em;').img.img-fluid
                                    if (invalidLogin)
                                        .pb-4.text-center
                                            strong Invalid Login
                                    .pt-0.pb-5.pl-5.pr-5
                                        if (noLoginAvalible)
                                            style.
                                                .card-body-login.p-0 {
                                                    background: #7f3636;
                                                }
                                            .pb-4.text-center
                                                strong
                                                    p Your Account has no valid membership
                                                a(href='/discord/destroy')
                                                    i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-center.mr-2
                                                    | Destroy Session and Token
                                        else
                                            a.dropdown-item.text-center.discord-login(href='/discord/login')
                                                i.fab.fa-discord.fa-sm.fa-fw.mr-2.text-center
                                                | Discord Login
                                            a.mr-3(href='#_' data-toggle='modal' data-target='#helpModal')
                                                i.fas.fa-question.fa-sm.fa-fw.mr-2
                                                | Help
                                            a.mr-3(href='#_' data-toggle='modal' data-target='#safetyModal')
                                                i.fas.fa-lock.fa-sm.fa-fw.mr-2
                                                | Security
// Logout Modal
#helpModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title About Sequenzia
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body Sequenzia is a data browser for "The Azure" JFS Filesystem, a valid Discord account with user roles in "The Azure" Server are required to access this service. You can't request access or create an account to access this service without a discord account or express administrator approval. "Sign in with Apple" requires that you already have an account and have linked it to your discord account.
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
#safetyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title Keeping it SAFE!
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body During the login process its critical to keep your discord account and ACR's data safe!
                li Verify that you are connected to https://seq.moe/ and VERIFY that it is encrypted and is verified by Let's Encrypt (DST Root CA)
                li During the Discord Authentication phase, VERIFY that it is ONLY ASKING FOR NAME AND PROFILE PHOTO. NEVER accept a login if it is asking for more then just this ONE permission.
                li Check that Discord will be redirecting you to https://seq.moe
                li NEVER AT ANYTIME SHOULD YOU BE ASKED FOR A USERNAME AND PASSWORD WHEN USING THIS SERVICE. Sequenzia only uses OAuth provided by Discord and Apple.
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
script(src="/static/vendor/jquery/jquery.min.js")
script(src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js")
script(src="/static/vendor/jquery-easing/jquery.easing.min.js")
script(src="js/sb-admin-2.js")
