body {
    font-family: "Product Sans", "Yantramanav", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
html {
    overflow: hidden!important;
}
.background-image.overlay {
    background-image: linear-gradient(180deg, transparent 50%, #000000c7);
    transform: none;
    z-index: -99;
    opacity: 0.8;
}
.background-image.overlay-left {
    background-image: linear-gradient( 90deg , #00000087, transparent 200px);
    transform: none;
    z-index: -99;
    background-size: contain;
    opacity: 0.8;
}
.background-image.overlay-right {
    background-image: linear-gradient( 270deg , #00000087, transparent 200px);
    transform: none;
    z-index: -99;
    background-size: contain;
    opacity: 0.8;
}
.background-image {
    background-position: center;
    background-size: cover;
    height: 102vh;
    width: 102vw;
}
.night-overlay {
    background-color: #000000;
    transform: none;
    z-index: -90;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.taskbar-bottom {
    margin-bottom: 5.5em!important;
}

.hover-show:hover {
opacity: 1!important;
}
.portait-overlay {
    height: 100vh;
    box-shadow: 0 0 10px #00000036;
}
.blur-this {
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='10' height='1'%3E%3CfeGaussianBlur stdDeviation='10' result='b'/%3E%3CfeMorphology operator='dilate' radius='4'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a") saturate(2) brightness(1.2) contrast(.6);
    -webkit-filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='10' height='1'%3E%3CfeGaussianBlur stdDeviation='10' result='b'/%3E%3CfeMorphology operator='dilate' radius='4'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a") saturate(2) brightness(1.2) contrast(.6);
}

div#errorBanner {
    height: 1.4em;
}
.errorBanner {
    background: #ff190e;
    height: 1.4em;
}
.warningBanner {
    background: #ff930e;
    height: 1.4em;
}

i#weatherIconMin {
    font-size: 3em;
    line-height: 1.3em;
}
i#weatherIconMin {
    font-size: 3.5em
}
#weatherData {
    font-size: 1.5em;
    display: flex;
    align-items: flex-end;
}
span#weatherDataCond {
    font-size: 0.8em;
    line-height: 1.1em;
}
div#weatherLoHi {
    font-size: 0.5em;
}
.text-end {
    text-align: end;
}
.current-weather {
    font-size: 1.2em;
}
span#weatherDataTemp {
    font-size: 1.7em;
    line-height: 1em;
}
.weather {
    opacity: .5;
}
#weatherData.t2x {
    font-size: 2em;
}
/*span#quoteAuthor::before {
    content: "-";
}*/
span#quoteAuthor {
    font-style: oblique;
    font-size: 0.7em;
}
div#quoteContainer {
    width: 55%;
    display: grid;
    opacity: 0.7;
}
.quote {
    font-size: 1.5em;
}

.clock {
    font-weight: 400;
    line-height: 1em;
    opacity: .6;
    margin-left: .055em;
}
.clock.clock-date, .clock.clock-day {
    font-size: 2rem;
    opacity: .5;
}
.clock.clock-time {
    font-size: 7rem;
}

.hidden-on-boot {
    display: none!important;
}

@media (max-width: 4000px) {
#content-wrapper {
    zoom: 2;
}
}

@media (max-width: 2600px) {
#content-wrapper {
    zoom: 1.5;
}
}
@media (max-width: 2000px) {
#content-wrapper {
    zoom: 1;
}
}

@media (max-width: 1030px) {
#content-wrapper {
    zoom: 0.9;
}
}
@media (max-width: 800px) {
#content-wrapper {
    zoom: 0.8;
}
}
@media (max-width: 576px) {
#content-wrapper {
    zoom: 0.7;
}
}
@media (max-width: 400px) {
#content-wrapper {
    zoom: 0.5;
}
}


.widget-box .center-block {
    position: relative
}
.widget-box .portait-overlay {
    height: inherit;
}
.widget-box .background-image {
    background-position: center;
    background-size: cover;
    height: inherit;
    width: inherit;
}
