body {
    font-family: "Product Sans", "Yantramanav", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    zoom: 1;
}

html {
    overflow: hidden!important;
    touch-action: manipulation;
}
.background-image.overlay {
    background-image: linear-gradient(180deg, transparent 75%, #000000c7);
    transform: none;
    z-index: -99;
    opacity: 0.8;
}
.background-image.overlay-left {
    background-image: linear-gradient( 90deg , #00000087, transparent 200px);
    transform: none;
    z-index: -99;
    background-size: contain;
    opacity: 0.8;
}
.background-image.overlay-right {
    background-image: linear-gradient( 270deg , #00000087, transparent 200px);
    transform: none;
    z-index: -99;
    background-size: contain;
    opacity: 0.8;
}
.background-image.overlay.nost-layout {
    background-image: linear-gradient(180deg, transparent 75%, #000000c7 96%, black);
}
.background-image.overlay.nost-layout-top {
    background-image: linear-gradient(180deg, transparent 75%, #000000c7 98%, black);
}
.background-image.overlay.chun-layout {
     background-image: linear-gradient(180deg, transparent 65%, #000000c7 98%, black);
 }
.background-image {
    background-position: center;
    background-size: cover;
    height: 102vh;
    width: 102vw;
}
.night-overlay {
    background-color: #000000;
    transform: none;
    z-index: -90;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.warning-box-contents, .kiosk-buttons-container {
    background: #000000c9;
    border-radius: 0.75em;
    backdrop-filter: blur(15px);
}

.warning-box-contents {
    padding: 1em 1.5em;
}

#kioskRemoteButtons.notice-enabled {
    margin-top: 5.5em;
}

.kiosk-button {
    padding: .5em 1.5em;
    margin: .25em 0em;
}
.kiosk-button:first-child {
    padding: 1em 1.5em 0.5em 1.5em;
    margin-bottom: .25em;
}
.kiosk-button:last-child {
    padding: 0.5em 1.5em 1em 1.5em;
    margin-top: .25em;
}
.kiosk-button:first-child:nth-last-child(1) {
    padding: 1em 1.5em;
    margin: 0em;
}

.toolbar-buttons {
    padding: 1em;
}

#kioskToolbarButtons .kiosk-buttons-container {
    padding: 0 0.5em;
}
#kioskToolbarButtons .kiosk-buttons-container .toolbar-buttons {
    font-size: 1.3em;
}

#kioskToolbarButtons .kiosk-buttons-container .toolbar-buttons img {
    height: 1.15em;
}
#deadzoneOverlay {
    width: 100vw;
    position: absolute;
    bottom: 0;
    background: black;
    height: 0;
    z-index: 10000;
}
#deadzoneOverlay.nost-layout {
    height: 3em;
}
#deadzoneOverlay.nost-layout-top {
    height: 2em;
}
div#exitOverlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: 10010;
}

.taskbar-bottom {
    margin-bottom: 5.5em!important;
}

.hover-show:hover {
opacity: 1!important;
}
.portait-overlay {
    height: 100vh;
    box-shadow: 0 0 10px #00000036;
}
.blur-this {
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='10' height='1'%3E%3CfeGaussianBlur stdDeviation='10' result='b'/%3E%3CfeMorphology operator='dilate' radius='4'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a") saturate(2) brightness(1.2) contrast(.6);
    -webkit-filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='10' height='1'%3E%3CfeGaussianBlur stdDeviation='10' result='b'/%3E%3CfeMorphology operator='dilate' radius='4'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a") saturate(2) brightness(1.2) contrast(.6);
}

div#errorBanner {
    height: 1.4em;
}
.errorBanner {
    background: #ff190e;
    height: 1.4em;
}
.warningBanner {
    background: #ff930e;
    height: 1.4em;
}

i#weatherIconMin {
    font-size: 3em;
    line-height: 1.3em;
}
i#weatherIconMin {
    font-size: 3.5em
}
#weatherData {
    font-size: 1.5em;
    display: flex;
    align-items: flex-end;
}
span#weatherDataCond {
    font-size: 0.8em;
    line-height: 1.1em;
}
div#weatherLoHi {
    font-size: 0.5em;
}
.text-end {
    text-align: end;
}
.current-weather {
    font-size: 1.2em;
}
span#weatherDataTemp {
    font-size: 1.7em;
    line-height: 1em;
}
.weather {
    opacity: .5;
}
#weatherData.t2x {
    font-size: 2em;
}
/*span#quoteAuthor::before {
    content: "-";
}*/
span#quoteAuthor {
    font-style: oblique;
    font-size: 0.7em;
}

.clock {
    font-weight: 400;
    line-height: 1em;
    opacity: .6;
    margin-left: .055em;
}
.clock.clock-date, .clock.clock-day {
    font-size: 2rem;
    opacity: .5;
}
.clock.clock-time {
    font-size: 7rem;
}

.hidden-on-boot {
    display: none!important;
}

@media (max-width: 4000px) {
#content-wrapper {
    zoom: 2;
}
}

@media (max-width: 2600px) {
#content-wrapper {
    zoom: 1.5;
}
}
@media (max-width: 2000px) {
#content-wrapper {
    zoom: 1;
}
}

@media (max-width: 1030px) {
#content-wrapper {
    zoom: 0.9;
}
}
@media (max-width: 800px) {
#content-wrapper {
    zoom: 0.8;
}
}
@media (max-width: 576px) {
#content-wrapper {
    zoom: 0.7;
}
}
@media (max-width: 400px) {
#content-wrapper {
    zoom: 0.5;
}
}

.widget-box .center-block {
    transform: translate(-50%,0%);
    position: relative;
    top: initial;
}
.widget-box .portait-overlay {
    height: inherit;
}
.widget-box .background-image {
    background-position: center;
    background-size: cover;
    background-attachment: inherit;
    height: inherit;
    width: inherit;
}
div#content-wrapper.wacca-layout > .m-5 {
    margin: 16em!important;
    zoom: 0.70;
}
div#content-wrapper.nost-layout > .m-5.fixed-bottom {
    margin: 3em 3em 5em 3em!important;
}
div#content-wrapper.chun-layout > .m-5.fixed-bottom {
    margin-bottom: 7rem!important
}

a,
a:focus,
a:hover,
a:active {
    outline: none;
    text-decoration: none;
    color: #ff9b59;
}

div#ChunSystemPlate {
    z-index: 10020;
}
div#ChunCotroller, div#ChunInfo {
    height: 77px;
    width: 1280px;
    left: 318px;
    z-index: 10020;
    backdrop-filter: blur(1);
}
div#ChunInfo {
    margin-bottom: 3.65em;
    max-height: 48px;
    line-height: 0px;
    font-size: 24px;
    background: #000000cc;
    border-radius: 10px;
}
div#ChunBackground {
    z-index: -5;
    height: 77px;
    -webkit-mask-image: -webkit-gradient(
            linear, left bottom, left top,
            color-stop(0.00,  rgba(0,0,0,1)),
            color-stop(1.00,  rgba(0,0,0,0)));
}
div#ChunTaps {
    z-index: -4;
    height: 77px;
    /*-webkit-mask-image: -webkit-gradient(
            linear, left bottom, left top,
            color-stop(0.00,  rgba(0,0,0,0.75)),
            color-stop(1.00,  rgba(0,0,0,0)));*/
}
.chun-touch-bg, .chun-touch-tap {
    height: 100%;
    width: 72.5px;
}
.chun-seperator-bg, .chun-seperator-tap {
    height: 100%;
    width: 8px;
}
.chun-touch-tap, .chun-seperator-tap {
    background: linear-gradient(180deg, rgb(255,255,255,0) 0%, rgb(255,255,255,1) 100%);
}
.chun-touch-overlay {
    font-size: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    justify-content: center;
    border-style: solid;
    border-top-style: none;
    border-width: 2px;
    border-bottom-width: 3px;
    border-color: #ffffff1a;
}
.chun-menu-breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
