html {
    background: black;
    color: #d17450;
}

.menubar-list {
    flex-direction: row;
    display: flex;
    list-style: square;
    margin: 0;
    padding: 0 0 0 4px;
}
.menubar-item:first-child {
    list-style: none;
}
.menubar-item {
    margin-right: 28px;
}

.topbar-heading {
    display: flex;
}
.topbar-menubar {
    display: flex;
}

.logo-container img {
    width: 160px;
}

.gallery.list {
    display: inline-flex;
    flex-wrap: wrap;
}
.gallery.item {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
}
.gallery.image {
    text-align: center;
    height: 160px;
    padding: 4px;
}
.gallery.icons {
    text-align: center;
    background: #222222;
}
img.status-icons {
    padding: 0;
    vertical-align: middle;
}
img.gallery.preview-holder {
    max-width: 160px;
    max-height: 160px;
}

.content {
    margin: 10px 7px;
}

.search-box form input::placeholder, .search-box form input:-ms-input-placeholder  {
    color: #ffa66c;
    opacity: .5;
}
.search-box form input {
    background: #972f0652;
    border-style: dotted;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: #d06c2a;
    color: #ffa66c;
    font-size: 15pt;
    margin-left: 9px;
    margin-top: 4px;
    width: 340px;
}